.header {
    display: flex;
    justify-content: space-around;
}

.span-box {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: white;
    font-weight: 100;
}

.span-box-date {
    font-size: 5rem;
}

